<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chodae.mapper.CounselingMapper">

    <resultMap id="CounselingResponseMap" type="com.chodae.dto.CounselingResponse">
        <id property="id" column="id"/>
        <result property="mainMenu" column="main_menu"/>
        <result property="subMenu" column="sub_menu"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="isOwner" column="is_owner"/>
        <result property="phone" column="phone"/>
        <result property="counselType" column="counsel_type"/>
        <result property="commentCount" column="comment_count"/>
        <result property="visibilityLevel" column="visibility_level"/>
        <result property="isNotice" column="is_notice"/>
        <result property="createDate" column="create_date"/>
        <result property="modifiedDate" column="modified_date"/>
    </resultMap>

    <resultMap id="CounselingListResponseMap" type="com.chodae.dto.CounselingListResponse">
        <id property="id" column="id"/>
        <result property="mainMenu" column="main_menu"/>
        <result property="subMenu" column="sub_menu"/>
        <result property="title" column="title"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="isOwner" column="is_owner"/>
        <result property="counselType" column="counsel_type"/>
        <result property="commentCount" column="comment_count"/>
        <result property="visibilityLevel" column="visibility_level"/>
        <result property="isNotice" column="is_notice"/>
        <result property="createDate" column="create_date"/>
        <result property="modifiedDate" column="modified_date"/>
    </resultMap>

    <select id="findAll" resultMap="CounselingListResponseMap">
        SELECT id, main_menu, sub_menu, title, user_id, user_name,
               CASE WHEN #{currentUserId} IS NOT NULL AND user_id = #{currentUserId} THEN TRUE ELSE FALSE END AS is_owner,
               counsel_type, comment_count,
               visibility_level, is_notice,
               create_date, modified_date
        FROM `post`
        WHERE main_menu = 'board' AND sub_menu = 'counseling' AND is_deleted = 0
        ORDER BY create_date DESC
    </select>

    <select id="countAll" resultType="long">
        SELECT COUNT(*) FROM `post`
        WHERE main_menu = 'board' AND sub_menu = 'counseling' AND is_deleted = 0
    </select>

    <select id="findAllWithPaging" resultMap="CounselingListResponseMap">
        SELECT id, main_menu, sub_menu, title, user_id, user_name,
               CASE WHEN #{currentUserId} IS NOT NULL AND user_id = #{currentUserId} THEN TRUE ELSE FALSE END AS is_owner,
               counsel_type, comment_count,
               visibility_level, is_notice,
               create_date, modified_date
        FROM `post`
        WHERE main_menu = 'board' AND sub_menu = 'counseling' AND is_deleted = 0
        <include refid="CounselingOrderBy"/>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countSearch" resultType="long">
        SELECT COUNT(*)
        FROM `post`
        <include refid="CounselingSearchWhere"/>
    </select>

    <select id="search" resultMap="CounselingListResponseMap">
        SELECT id, main_menu, sub_menu, title, user_id, user_name,
               CASE WHEN #{currentUserId} IS NOT NULL AND user_id = #{currentUserId} THEN TRUE ELSE FALSE END AS is_owner,
               counsel_type, comment_count,
               visibility_level, is_notice,
               create_date, modified_date
        FROM `post`
        <include refid="CounselingSearchWhere"/>
        <include refid="CounselingOrderBy"/>
        LIMIT #{offset}, #{limit}
    </select>

    <sql id="CounselingSearchWhere">
        <where>
            main_menu = 'board'
            AND sub_menu = 'counseling'
            AND is_deleted = 0
            <choose>
                <when test="keyword != null">
                    AND title LIKE #{keyword}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
        </where>
    </sql>

    <sql id="CounselingOrderBy">
        ORDER BY
        <choose>
            <when test="sortColumn == 'id'">id</when>
            <when test="sortColumn == 'title'">title</when>
            <when test="sortColumn == 'counsel_type'">counsel_type</when>
            <otherwise>create_date</otherwise>
        </choose>
        <choose>
            <when test="sortOrder == 'ASC'">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
    </sql>

    <select id="findByUserId" resultMap="CounselingResponseMap">
        SELECT id, main_menu, sub_menu, title, content, user_id, user_name, FALSE AS is_owner, phone, counsel_type,
               comment_count, visibility_level, is_notice,
               create_date, modified_date
        FROM `post`
        WHERE main_menu = 'board' AND sub_menu = 'counseling' AND is_deleted = 0 AND user_id = #{userId}
        ORDER BY create_date DESC
    </select>

    <select id="findById" resultMap="CounselingResponseMap">
        SELECT id, main_menu, sub_menu, title, content, user_id, user_name, FALSE AS is_owner, phone, counsel_type,
               comment_count, visibility_level, is_notice,
               create_date, modified_date
        FROM `post`
        WHERE main_menu = 'board' AND sub_menu = 'counseling' AND is_deleted = 0 AND id = #{postId}
    </select>

    <select id="findByIdAndUserId" resultMap="CounselingResponseMap">
        SELECT id, main_menu, sub_menu, title, content, user_id, user_name, TRUE AS is_owner, phone, counsel_type,
               comment_count, visibility_level, is_notice,
               create_date, modified_date
        FROM `post`
        WHERE main_menu = 'board' AND sub_menu = 'counseling' AND is_deleted = 0
          AND id = #{id} AND user_id = #{userId}
    </select>

    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `post` (main_menu, sub_menu, visibility_level, title, content, user_id, user_name, phone, counsel_type, comment_count, is_notice, is_deleted, create_date, modified_date)
        VALUES ('board', 'counseling',
                COALESCE(#{visibilityLevel}, 'public'),
                #{title}, #{content}, #{userId}, #{userName}, #{phone}, #{counselType}, 0, 0, 0, NOW(), NOW())
    </insert>

    <update id="updateCommentCount">
        UPDATE `post` SET comment_count = #{commentCount}, modified_date = NOW()
        WHERE main_menu = 'board' AND sub_menu = 'counseling' AND id = #{id}
    </update>

    <update id="updateVisibilityLevel">
        UPDATE `post` SET visibility_level = COALESCE(#{visibilityLevel}, 'public'), modified_date = NOW()
        WHERE main_menu = 'board' AND sub_menu = 'counseling' AND id = #{id}
    </update>

    <update id="deletePostById">
        UPDATE `post` SET is_deleted = 1, modified_date = NOW()
        WHERE main_menu = 'board' AND sub_menu = 'counseling' AND id = #{postId}
    </update>

    <update id="updateById">
        UPDATE `post` SET
        <if test="params.title != null">title = #{params.title},</if>
        <if test="params.content != null">content = #{params.content},</if>
        <if test="params.phone != null">phone = #{params.phone},</if>
        <if test="params.email != null">email = #{params.email},</if>
        <if test="params.counselType != null">counsel_type = #{params.counselType},</if>
        <if test="params.visibilityLevel != null">visibility_level = #{params.visibilityLevel},</if>
        modified_date = NOW()
        WHERE main_menu = 'board' AND sub_menu = 'counseling' AND id = #{id}
    </update>
</mapper>
