<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chodae.mapper.PostAttachMapper">

    <update id="deleteAttachmentsByPostId">
        UPDATE `post_attach`
        SET is_deleted = 1
        WHERE post_id = #{postId}
          AND is_deleted = 0
    </update>

</mapper>
